name: Deploy

on:
  push:
    branches: ["master"]
    tags: ["v*.*.*"]

permissions:
  contents: write
  id-token: write

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: publish
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 20
          registry-url: "https://registry.npmjs.org"
          cache: "yarn"

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Update version
        run: |
          STRATEGY=${{ vars.PUBLISH_VERSION_STRATEGY || 'patch' }}

          if [ "$STRATEGY" = "patch" ]; then
            yarn version --patch --no-git-tag-version
          elif [ "$STRATEGY" = "minor" ]; then
            yarn version --minor --no-git-tag-version
          elif [ "$STRATEGY" = "major" ]; then
            yarn version --major --no-git-tag-version
          else
            echo "Unknown version strategy: $STRATEGY"
            exit 1
          fi

          NEW_VERSION=$(node -p "require('./package.json').version")
          echo "version=$NEW_VERSION" >> $GITHUB_OUTPUT

          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git pull origin ${{ github.ref_name }}

          git add package.json
          git commit -m "chore: Update version (v$NEW_VERSION)"
          git push origin HEAD:${{ github.ref_name }}

      - name: Publish package
        run: npm publish --access public --non-interactive

      - name: Create tag
        run: |
          NEW_VERSION=$(node -p "require('./package.json').version")
          echo "version=$NEW_VERSION" >> $GITHUB_OUTPUT

          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git push origin "v$NEW_VERSION"
